/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #e4e4e4;
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: 100%;
  overflow-x: hidden !important;
}

/* Portrait layout (default) */
.app-page {
  width: 95%;
  margin: 30px auto;
  background-color: #1b1b1b;
  overflow: hidden;

  .app-topbar {
    height: fit-content !important;
    width: 100%;
    background-color: #1b1b1b;
    color: #fff;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;

    .app-title {
      width: 99%;
      float: none;
      padding-left: 0px;
      padding-right: 0px;
      font-weight: 700;
      text-align: left;
      h1 {
        font-size: 20px;
        text-align: center;
      }
    }
    nav {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
}
.app-button {
  padding: 9px 16px;
  height: fit-content;
  font-weight: 500;
  text-decoration: none;
  background-color: #3b3b3b;
  color: #fafafa;
  text-align: center;
}
label, p {
    font-size: 16px;
}
  .filter {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    // justify-content: space-between;

    select, option {
        padding: 6px;
        text-transform: capitalize;
    }
  }

  .card-wrapper {
    width: 98%;
    margin: auto;
    height: fit-content;
    margin-top: 20px;

    .card {
      background-color: rgb(27 27 27 / 28%);
      padding: 8px;
      border: 2px solid;
      border-radius: 8px;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  form {
    width: 90%;
    margin: 4rem auto;

    input, textarea {
      width: 100%;
      height: 40px;
      border-radius: 4px;
    }

    #login-btn, #signup-btn {
        padding: 9px 16px;
      height: fit-content;
      font-weight: 500;
      text-decoration: none;
      background-color: #3b3b3b;
      color: #fafafa;
      border: none;
      outline: none;
      border-radius: 4px;
    }
  }
  .sign-up {
    color: #fafafa;

    a {
        color: #fafafa;
    }
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    
  }
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .app-page {
    background-color: #1b1b1b;
    padding: 10px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #1b1b1b;
  }
}
